.app {
    min-height: 100vh;
    background-color: rgb(192, 87, 27);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  5rem 1fr 3rem;
    grid-gap: 0.5vw;
    grid-template-areas: 'header'
                         'article'
                         'footer';
    
}

.app > * { 
    display: flex;
    justify-content: center; /*centrar contingut horitzontalment*/
    align-items: center;     /*centrar contingut verticalment*/
}

.title{
 color: white;
}

.header{
    grid-area: header;
    background-color: rgb(172, 136, 95);
}

.article{
    grid-area: article;
    background-color: rgb(229, 248, 199);
}

.footer{
    grid-area: footer;
    color: white;
    background-color: rgb(230, 168, 98);
}

.table{
    /*border-collapse: collapse;*/
    background: white;
    border:  2px solid rgb(192, 87, 27); /*altres: dotted*/
    text-align: center; /*centrar el text*/
    padding: 1rem; /*espai entre element i contenidor*/
    border-spacing: 0.5rem;/*espai al voltant de les celes*/
    border-radius: 10px;/*arrodonir els cantos*/
    box-shadow: 5px 5px 5px;/*x,y,blur-shadow(difuminat de l'ombra)*/
}

.table td{
    border:  2px solid  rgb(172, 136, 95);/*línia border al voltant cel·les*/
}

/*odd, even*/
.table tr:nth-child(even) {
    background-color: rgb(226, 255, 193);
}

th{
  border:  2px solid rgb(0,0,0);
  background: rgb(172, 136, 95);
  padding: 7px;
}

tr:hover td {
  background:#cccccc;
  color:#FFFFFF;
}

/*
.table tr:nth-child(2) {
    background-color: red;/*el segon element de la taula fons vermell*/


